
{% extends "base.html" %}
{% load static %}

{% block title %}Products{% endblock %}


{% block content %}


<hr class="featurette-divider">
  <h1 class="text-center featurette-heading">Products</h1>
  <hr class="featurette-divider">

  <div class="container">



<div class="row text-center">

    <div class="col-lg-4 col-sm-6">
      <div class="card" style="width: 18rem;">
        <img src="media/walle.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Artwork</h5>
            
        <a href="#" class="btn btn-primary">More details</a>
        </div>
        </div>
    </div>

      <div class="col-lg-4 col-sm-6">
     <div class="card" style="width: 18rem;">
        <img src="media/walle.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Artwork</h5>
        
        <a href="#" class="btn btn-primary">Purchase</a>
        </div>
    </div>
    </div>

    <div class="col-lg-4 col-sm-6">
       <div class="card" style="width: 18rem;">
        <img src="media/walle.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
      
        <a href="#" class="btn btn-primary">Buy now</a>
        </div>
    </div>
    </div>

</div>


<br>

<div class="row text-center">

    <div class="col-lg-4 col-sm-6">
      <div class="card" style="width: 18rem;">
        <img src="media/walle.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Artwork</h5>
            
        <a href="#" class="btn btn-primary">More details</a>
        </div>
        </div>
    </div>

      <div class="col-lg-4 col-sm-6">
     <div class="card" style="width: 18rem;">
        <img src="media/walle.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Artwork</h5>
        
        <a href="#" class="btn btn-primary">Purchase</a>
        </div>
    </div>
    </div>

    <div class="col-lg-4 col-sm-6">
       <div class="card" style="width: 18rem;">
        <img src="media/walle.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
      
        <a href="#" class="btn btn-primary">Buy now</a>
        </div>
    </div>
    </div>
    
</div>

<br>

<div class="row text-center">

    <div class="col-lg-4 col-sm-6">
      <div class="card" style="width: 18rem;">
        <img src="media/walle.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Artwork</h5>
            
        <a href="#" class="btn btn-primary">More details</a>
        </div>
        </div>
    </div>

<br>

      <div class="col-lg-4 col-sm-6">
     <div class="card" style="width: 18rem;">
        <img src="media/walle.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Artwork</h5>
        
        <a href="#" class="btn btn-primary">Purchase</a>
        </div>
    </div>
    </div>

    <div class="col-lg-4 col-sm-6">
       <div class="card" style="width: 18rem;">
        <img src="media/walle.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
      
        <a href="#" class="btn btn-primary">Buy now</a>
        </div>
    </div>
    </div>
    
</div>

</div>

   
{% endblock %}

